<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- ブートスラップの利用 -->
<link th:href="@{/webjars/bootstrap/5.0.0-beta1/css/bootstrap.min.css}" rel="stylesheet"></link>
<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.0.0-beta1/js/bootstrap.min.js}"></script>
<!-- ブートスラップ5のアイコン利用 -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>

<body>
  <div th:fragment="progress-bar-book">

　　　<!-- ステップバー＝プログレスバー開始 -->
    <div class="progress " style="height:40px">
        <div class="progress-bar bg-secondary" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
          <div style="white-space: nowrap;">
            <i class="bi bi-card-list"></i>
            <span style="font-weight: bold;">step1</span>
          </div>
          <span style="font-size:small;">クーポン・メニューを選ぶ</span></div>
        <div class="progress-bar " role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
          <div style="white-space: nowrap;">
            <i class="bi bi-alarm-fill"></i>
            <span style="font-weight: bold;">step2</span>
          </div>
          <span style="font-size: 120%; font-weight: bold;">日時を指定する</span></div>
        <div class="progress-bar bg-secondary" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
          <div style="white-space: nowrap">
            <i class="bi bi-chat-right-text"></i>
            <span style="font-size:x-small;">step3</span>
          </div>
          <span style="font-size:small;">お客様情報入力</span></div>
        <div class="progress-bar bg-secondary" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
          <div style="white-space: nowrap;">
            <i class="bi bi-chat-right-text-fill"></i>
            <span style="font-size:x-small;">step4</span>
          </div>
          <span style="font-size:small;">予約内容の確認</span></div>
        <div class="progress-bar bg-secondary" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
          <div style="white-space: nowrap;">
            <i class="bi bi-check2-square"></i>
            <span style="font-size:small;">予約完了</span>
          </div>
        </div>
    </div>　<!-- ステップバー＝プログレスバー終了-->
  </div>

  <div th:fragment="selected-menu-coupon">
    <!-- 選択の誘導は統合側のhtmlに記述してある -->
    <p class="mt-3 mb-0" style="font-size:small"><span class="text-danger">◎</span> の日時から施術を開始することが出来ます。ご希望の来店日時の <span class="text-danger">◎</span> を選択してください。</p>
    <p class="mt-0 mb-3" style="font-size:small"><span class="text-warning fw-bolder">TEL</span>の場合は、サロンに直接お電話にてお問い合わせください。</p>
    
    <div th:object="${menuDetail}" >
      <div class="d-flex flex-column border border-secondary">
        <div class="pt-1 ps-3 fw-bold text-danger" style="font-size:small">選択済みクーポン・メニュー</div>
        <div class="container pt-2 pb-3"><div class="row">
          <div class="col-1"><span class="text-white fw-bold px-1" style="background: #FF5192; font-size:small" th:text="*{couponScope}"></span></div>
          <div class="col-8"><span class="fw-bold " style="font-size: 95%;" th:text="*{name}"></span></div>
          <div class="col-2"><span class="fw-bold fs-6 text-danger" th:text="￥+*{price}"></span></div>
          <div class="col-1"><span style="font-size:small;" th:text="*{requiredTime}+分"></span></div>
        </div></div>
      </div>
      
      <div class="d-flex my-2" >
        <div class="d-inline-flex border border-secondary bg-light me-0 px-3 py-2" style="font-size: 90%;">施術時間合計（目安）</div>
        <div th:with="hour=__${menuDetail.requiredTime}__/60, minute=__${menuDetail.requiredTime}__%60">
          <div th:if="${hour} &gt; 0">
          
            <div th:if="${minute} == 0">
              <div class="d-inline-flex border border-secondary ms-0 px-3 py-2 fw-bold" th:text="${hour}+時間" style="font-size: 90%;"></div>
            </div>
            <div th:unless="${minute} == 0">
              <div class="d-inline-flex border border-secondary ms-0 px-3 py-2 fw-bold" th:text="${#numbers.formatDecimal(hour,0,0)}+時間+${minute}+分" style="font-size: 90%;"></div>
            </div>
          </div>
          <div th:unless="${hour} &gt; 0">
            <div class="d-inline-flex border border-secondary ms-0 px-3 py-2 fw-bold" th:text="${minute}+分" style="font-size: 90%;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div th:fragment="select-stylist-radio">
    <div class="d-flex my-3" >
      <div class="d-inline-flex px-3 " style="font-size: 90%;">スタイリスト：</div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
        <label class="form-check-label" for="inlineRadio1"><span class="fw-bold" style="font-size: 90%;">指名する</span></label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
        <label class="form-check-label" for="inlineRadio2"><span class="fw-bold" style="font-size: 90%;">指名しない</span></label>
      </div>
    </div>
  </div>

  <div th:fragment="book-table-nav">
  
    <ul class="nav nav-tabs border-bottom border-secondary ">
      <li class="nav-item ">
        <a class="nav-link active border-bottom-0 border-secondary" aria-current="page" ><span class="fw-bold" style="font-size: 90%">サロンの空き状況</span></a>
      </li>
      <li class="nav-item">
        <!-- フォーム化する。menuIdを引き渡す -->
        <form role="form" name="toSelectStylist" th:action="@{~/public/toSelectStylist}" method="get">
          <input type="hidden" name="menuId" th:object="${menuDetail}" th:value="*{id}">
          <a class="nav-link border-bottom-0 border-secondary" href="javascript:toSelectStylist.submit()" ><span class="fw-bold" style="font-size: 90%">スタイリスト別の空き状況</span></a>
        </form>
      </li>
    </ul>
  </div>

  <div th:fragment="book-table">
  
    <p class="text-danger mt-3 mb-0" style="font-size: 80%" th:text="'※来店日条件：'+${menuDetail.visitCondition}"></p>

    <table class="table table-bordered">
      <thead class="sticky-top">
        <tr class="align-middle">
          <!-- ヘッダのラベル表示（左） -->
          <th class="text-end pe-3 text-secondary" style="font-size: 90%" colspan="2" rowspan="2"><span style="font-size: 80%;">◀ </span>前の一週間</th>
          <!-- ヘッダ表示 -->
          <th th:each="ym : ${bookTable.headYM}" class="text-center" th:colspan="${ym.value}" th:text="${ym.key}"></th>
          <!-- ヘッダのラベル表示（右） -->
          <th class="ps-3" style="font-size: 90%" colspan="2" rowspan="2"><a href="#" style="text-decoration: none;">次の一週間<span class="text-danger" style="font-size: 80%;"> ▶</span></a></th>
        </tr>
        <tr class="align-middle">
            <th class="text-center px-0 mx-0" style="font-size: 90%" 
             th:each="h : ${bookTable.head}" th:object="${h}" th:utext="*{date}+'<br>'+'('+*{weekType}+')'"></th>
        </tr>
      </thead>
      <tbody>
        <tr class="align-middle " th:each="bookMap, line : ${bookTable.body}" >
          <!-- 時間帯のラベル表示（左） -->
          <th th:if="${line.index} %2 == 0" class="text-end bg-light pe-3 py-0 my-0" colspan="2" style="font-size: 85%;"  th:text="${bookMap.key}"></th>
          <th th:unless="${line.index} %2 == 0" class="text-end bg-light pe-3 py-0 my-0" colspan="2" th:text="${bookMap.key}"></th>
          
          <!-- 予約状況を表示 -->
          <td class="text-center fw-bold fs-5 py-0 m-0" th:each="bookBody, cell : ${bookMap.value}">
            <p th:if="${bookBody.status.equals('×')}" th:text="${bookBody.status}" class="bg-light py-0 my-0"></p><!-- 予約状況が× -->
            <div th:unless="${bookBody.status.equals('×') }" ><!-- 予約状況が×以外 -->
              <form th:if="${stylist == null}" 
                role="form" th:name="'toSelectActiveStylist'+${line.index}+'_'+${cell.index}" th:action="@{~/public/toSelectActiveStylist}" method="get">
                <input type="hidden" name="menuId" th:value="${menuDetail.id}">
                <input type="hidden" name="date" th:value="${bookBody.date}">
                <input type="hidden" name="time" th:value="${bookMap.key}">
                <a class="text-danger py-0 my-0" th:href="'javascript:toSelectActiveStylist'+${line.index}+'_'+${cell.index}+'.submit()'" style="text-decoration: none;" th:text="${bookBody.status}"></a>
              </form><!-- スタイリスト未選択（「サロンの空き状況」からの遷移時 -->
              <form th:unless="${stylist == null}"  
                role="form" th:name="'toBookForm'+${line.index}+'_'+${cell.index}" th:action="@{~/authed/toBookForm}" th:method="post">
                <input type="hidden" name="menuId" th:value="${menuDetail.id}">
                <input type="hidden" name="date" th:value="${bookBody.date}">
                <input type="hidden" name="time" th:value="${bookMap.key}">
                <input type="hidden" name="stylistId" th:value="${stylist.stylistId}">
                <a class="text-danger py-0 my-0" th:href="'javascript:toBookForm'+${line.index}+'_'+${cell.index}+'.submit()'" style="text-decoration: none;" th:text="${bookBody.status}"></a>
              </form><!-- スタイリスト既選択（「スタイリスト別の空き状況」からの遷移時 -->
            </div>
          </td> 
          
          <!-- 時間帯のラベル表示（右） -->
          <th th:if="${line.index} %2 == 0" class="bg-light ps-3 py-0 my-0" colspan="2" style="font-size: 85%;"  th:text="${bookMap.key}"></th>
          <th th:unless="${line.index} %2 == 0" class="bg-light ps-3 py-0 my-0" colspan="2" th:text="${bookMap.key}"></th>
        </tr>
      </tbody>
    </table>
  </div>

<!-- メモ -->
<!-- 一つ一つの◎はただのリンク。次画面に日時だけ渡せればよさそう -->
</body>
</html>