<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- ブートスラップの利用 -->
<link th:href="@{/webjars/bootstrap/5.0.0-beta1/css/bootstrap.min.css}" rel="stylesheet"></link>
<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.0.0-beta1/js/bootstrap.min.js}"></script>
<!-- ブートスラップ5のアイコン利用 -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>
<body>
  <div th:fragment="content">
　　　<!-- ステップバー＝プログレスバー開始 -->
    <div class="progress " style="height:40px">
        <div class="progress-bar " role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
          <div style="white-space: nowrap;">
            <i class="bi bi-card-list"></i>
            <span style="font-weight: bold;">step1</span>
          </div>
          <span style="font-size: 120%; font-weight: bold;">クーポン・メニューを選ぶ</span></div>
        <div class="progress-bar bg-secondary" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
          <div style="white-space: nowrap;">
            <i class="bi bi-alarm-fill"></i>
            <span style="font-size:x-small;">step2</span>
          </div>
          <span style="font-size:small;">日時を指定する</span></div>
        <div class="progress-bar bg-secondary" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
          <div style="white-space: nowrap">
            <i class="bi bi-chat-right-text"></i>
            <span style="font-size:x-small;">step3</span>
          </div>
          <span style="font-size:small;">お客様情報入力</span></div>
        <div class="progress-bar bg-secondary" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
          <div style="white-space: nowrap;">
            <i class="bi bi-chat-right-text-fill"></i>
            <span style="font-size:x-small;">step4</span>
          </div>
          <span style="font-size:small;">予約内容の確認</span></div>
        <div class="progress-bar bg-secondary" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
          <div style="white-space: nowrap;">
            <i class="bi bi-check2-square"></i>
            <span style="font-size:small;">予約完了</span>
          </div>
        </div>
    </div>　<!-- ステップバー＝プログレスバー終了-->

    <br>
    <h6 class="ms-3">クーポン・メニューを選択してください</h6>
    <!-- メニュー絞り込み 開始 -->
    <div class="border rounded border-secondary">
    <form role="form" th:action="@{~/public/fillterMenu}" th:object="${menuFilter}" method="post">
    
      <div class="container-fluid">
      <div class="row g-0">

	        <div class="col-10">

	          <!-- １行目 -->
	          <div class="row g-0">
	            <div class="col"  th:each="menu : ${menuItems1}">
	              <div class="form-check form-check-inline">
	                <input class="form-check-input" th:id="${menu.value}" type="checkbox" th:value="${menu.value}" th:field="*{chkboxs}">
	                <label class="form-check-label fw-bold" th:for="${menu.value}">
	                  <span class="fw-bold" style="font-size: 90%;" th:text="${menu.key}"></span>
	                </label>
	              </div>
	            </div>
	          </div>  
	          
	          <!-- ２行目 -->
	          <div class="row g-0">
	            <div class="col"  th:each="menu : ${menuItems2}">
	              <div class="form-check form-check-inline">
	                <input class="form-check-input" th:id="${menu.value}" type="checkbox" th:value="${menu.value}" th:field="*{chkboxs}">
	                <label class="form-check-label fw-bold" th:for="${menu.value}">
	                  <span class="fw-bold" style="font-size: 90%;" th:text="${menu.key}"></span>
	                </label>
	              </div>
	            </div>
	          </div>  
	          
	          <!-- ３行目 -->
	          <div class="row g-0">
	            <div class="col-12">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="chbox-complex" th:value="on" th:field="*{chkComplex}">
                  <label class="form-check-label fw-bold" for="chbox-complex"><span style="font-size: 90%;">上記メニューにトリートメント・ヘアセット・ヘッドスパ・その他メニューを含めて検索</span></label>
                </div>
              </div>
            </div>
          </div>
          
        <!-- 絞り込みボタン -->

          <div class="col-2 align-self-center">
            <div class="bg-light">
              <div class="row g-0">　　</div>
              <div class="row g-0"><button class="btn btn-outline-secondary bg-white text-muted" type="submit" >絞り込み</button></div>
              <div class="row g-0">　　</div>
            </div>
          </div>

      </div>
      </div>
    </form>
    </div><!-- メニュー絞り込み 終了 -->
    
    <!-- 来店回数での絞り込みボタン -->
    <div style="line-height: 0.6">　</div>
    <div class="d-flex gap-2">
      <button class="btn btn-outline-secondary me-md-2 " style="width: 160px; height: 30px; font-weight: bold; font-size: 90%;" type="button">すべて</button>
      <button class="btn btn-outline-secondary me-md-2 " style="width: 160px; height: 30px; font-weight: bold; font-size: 90%;" type="button">初来店の方</button>
      <button class="btn btn-outline-secondary" style="width: 160px; height: 30px; font-weight: bold; font-size: 90%;" type="button">２回目以降来店の方</button>

      <div class="d-flex flex-column ms-auto">
        <div class="d-flex gap-1" style="line-height: 0.6; font-size: 80%">
          <p class="fw-bolder text-danger">※ロング料金あり</p>
          <a href="#">備考</a>
        </div>
        <div class="fw-bolder text-secondary" style="line-height: 0.6; font-size: 80%">※価格は税込表示です。</div>
      </div>
    </div>
    
    <!-- ページネーション .pagination -->
    <br>
    <div class="d-flex gap-2 shadow">
      <p>　クーポン<span class="fw-bold text-danger fs-3" th:text="${menuDetails.size}"></span>件</p>
      <p>メニュー<span class="fw-bold text-danger fs-3">XX</span>件　あります</p>
      <div class="d-flex ms-auto">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-end">
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1" aria-disabled="true">前</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">次</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    
    <!-- メニューリスト grid? table? panels-->
    <br>
    <i class="bi bi-square-fill d-inline-block"></i>
    <h6 class="fw-bold d-inline-block ms-1">Chou chou private hair salon【シュシュ プライベート ヘアサロン】のクーポン</h6>
    
    <th:block th:if="${menuDetails.size == 0}">
      <p>お探しのメニュー・クーポンはありませんでした。</p>
    </th:block>
    <th:block th:unless="${menuDetails.size == 0}">
      <table class="table table-bordered border-secondary">
        <tbody>
          <tr th:each="item : ${menuDetails}" th:object="${item}">
            <th scope="row" class="align-middle text-danger p-0" style="width: 2%; background: rgb(255, 223, 228); font-size: 90%; writing-mode: vertical-rl" th:text="*{couponScope}"></th>
            <td colspan="1" style="width: 75%;">
              <div class="d-flex gap-2 align-items-center" style="font-size: 80%">
                <div th:each="kind : *{menuKind}">
                  <div class="text-white fw-bold px-1" style="background: #FF5192;" th:text="${kind}"></div>
                </div>
              </div>
              <div class="d-flex ">
                <div class="flex-fill fw-bold p-1 " th:text="*{name}"></div>
                <div class="text-danger fw-bold p-1 text-end fs-5" style="width: 20%" th:text="'\\' + *{price}"></div>
              </div>
              <div class="card mb-0 border-white" style="max-width: 740px;">
                <div class="row g-0">
                  <div class="col-2">
                    <img th:src="@{__*{picture}__}" width="100" height="100">
                  </div>
                  <div class="col-10">
                    <div class="card-body ">
                      <p class="card-text mb-3" style="font-size:85%;" th:text="*{explanation}"></p>
                      <p class="card-text my-1" style="font-size:85%;" ><span class="text-danger">来店日条件：</span><span th:text="*{visitCondition}"></span></p>
                      <p class="card-text my-1" style="font-size:85%;" ><span class="text-danger">その他条件：</span><span th:text="*{otherCondition}"></span></p>
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td class=" position-relative " style="background: #FFEEFF;" colspan="1">
              <form role="form" th:action="@{~/public/toBookTable}" method="get"> 
                <input type="hidden" name="menuId" th:value="*{id}">
                <button
                 class="btn btn-outline-secondary fw-bold text-white position-absolute top-50 start-50 translate-middle " 
                 type="submit" style="width: 160px; height: 60px;  font-size: 90%; background: linear-gradient(#FFCCCC, #FF66CC);" >このクーポンで<br>空席確認・予約する
                </button>
              </form>
            </td>
          </tr>
        </tbody>
      </table>
    </th:block>
  </div>
</body>
</html>