<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- ブートスラップの利用 -->
<link th:href="@{/webjars/bootstrap/5.0.0-beta1/css/bootstrap.min.css}" rel="stylesheet"></link>
<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.0.0-beta1/js/bootstrap.min.js}"></script>
<!-- ブートスラップ5のアイコン利用 -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>

<body>

  <div th:fragment="active-stylist-list">
    <div class="d-flex flex-row my-3">
      <div class="text-center border border-secondary bg-light px-4 py-1" style="font-size: 90%">来店日時</div>
      <div class="px-4 py-1 fw-bold border border-secondary" style="font-size: 90%"><span th:text="${visitDate}"></span><span th:text="${time}"></span></div>
    </div>
    
    <div class="d-flex p-2 border-start border-secondary border-5 fw-bold">指名なしで予約する</div>
    <button
      class="btn btn-outline-secondary fw-bold text-white ms-4 mt-2 mb-4 " 
      type="submit" style="width: 140px; height: 35px;  font-size: 80%; background: linear-gradient(#FFCCCC, #FF0040);" >指名なしで次へ
    </button>
    
    <div class="d-flex p-2 border-start border-secondary border-5 fw-bold">指名して予約する</div>
    
    <!-- 5写真ごとのマップをループ処理 -->
    <div class="border-0" th:each="asMap, statMap : ${activeStylistMap}" >
      <hr th:if="${statMap.index} != 0">
      
      <ul class="list-group list-group-horizontal mt-4 ">
      　　<!-- 1写真ごとにループ処理 -->
        <li th:each="stylist, statStylist : ${asMap.value}" th:object="${stylist}" class="list-group-item border-top-0 border-bottom-0 border-start-0">
          <!-- モーダルへのリンクが複数箇所あるためモーダルのIDを変数化しておく -->
          <div class="card h-100 border-0 m-1 " style="width: 8rem;" th:with="modalId='MODAL_ACTIVE'+${statStylist.count}">
            <a th:href="'#'+${modalId}" data-bs-toggle="modal" >
              <img th:src="@{__*{picture}__}" class="card-img-top " alt="...">
            </a>
            <!-- フレックスのmt-autoを使用するためカードボディをフレックス化（flex_column) -->
            <div class="card-body d-flex flex-column p-0">
              <p class="card-text p-0 m-0" style="font-size:small" th:text="*{name}"></p>
              <p class="card-text p-0 m-0"><span class="card-text text-danger p-0 m-0"  style="font-size:small" th:text="*{comment}"></span><span style="font-size: 60%" th:text="'(歴'+*{experiencedYears}+'年)'"></span></p>
              <p class="card-text p-0 m-0" style="font-size:small" ><span th:text="*{commentDetail}"></span>
                <span style="font-size:small">【</span><a th:href="'#'+${modalId}" data-bs-toggle="modal" style="text-decoration: none;">詳細</a><span>】</span>
              </p>
              <p class="card-text mt-auto text-end p-0 m-0 " style="font-size:small" ><span>指名料: </span><span class="text-danger" th:text="'\\'+*{reservationFee}"></span></p>
              
              <!-- モーダル -->
              <div class="modal fade" th:id="${modalId}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-body">
                      <!-- モーダルヘッダー部 -->
                      <div class="d-flex ">
                        <div class="w-100 ">
                          <p class="text-danger p-0 m-0 " style="font-size:small" th:text="*{comment}"></p>
                          <p class="p-0 m-0 "><span class="fw-bold fs-5 " th:text="*{name}"></span><span class="ms-2 " style="font-size:small" th:text="*{name}"></span></p>
                        </div>
                        <div class="flex-shrink-1">
                          <div class="d-grid d-md-flex justify-content-md-end ">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                        </div>
                      </div>
                      
                      <!-- モーダルヘッダーとボディの境界線 -->
                      <hr>
                      
                      <!-- モーダルボディ部 -->
                      <div class="d-flex ">
                        <div class="d-flex justify-content-end  pe-4" style="width: 240px;">
                          <img th:src="@{__*{picture}__}" style="width: 8rem; max-height: 160px" alt="...">
                        </div>
                        <div class="flex-grow-1  ">
                          <p class="text-danger fw-bold p-0 m-0" th:text="*{comment}" ></p>
                          <p class="p-0 my-3" th:text="*{commentDetail}" ></p>
                          <div class="row row-cols-1 row-cols-md-2 g-0">
                            <!-- 4写真を1写真ずづループ処理 -->
                            <div th:each="cutExample : *{cutExamples}" th:object="${cutExample}" class="col ">
                              <div class="card border-0 mb-4" style="max-width: 260px; ">
                                <div class="row g-0">
                                  <div class="col-md-4">
                                    <img th:src="@{__*{url}__}" width="80px" height="80px" alt="..." >
                                  </div>
                                  <div class="col-md-8 align-self-end  ">
                                    <div class="card-body  m-0 p-0">
                                      <p class="card-text " style="font-size:small" th:text="comment"></p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          
                          <ul class="list-group list-group-horizontal rounded-0 py-0 ">
                            <li class="list-group-item fw-bold py-1 ps-2" style="width: 130px; font-size: 90%; background:#E6E6E6; ">スタイリスト歴</li>
                            <!-- スタイリスト歴は20年を境界値に’以上’を付与 -->
                            <li th:if="*{experiencedYears} gt 20" class="list-group-item flex-fill py-1 ps-2" style="font-size:small" th:text="*{experiencedYears}+'年以上'"></li>
                            <li th:unless="*{experiencedYears} gt 20" class="list-group-item flex-fill py-1 ps-2" style="font-size:small" th:text="*{experiencedYears}+'年'"></li>
                          </ul>
                          <ul class="list-group list-group-horizontal">
                            <li class="list-group-item fw-bold py-1 ps-2" style="width: 130px; font-size: 90%; background:#E6E6E6; ">得意なイメージ</li>
                            <li class="list-group-item flex-fill py-1 ps-2" style="font-size:small" th:text="*{specialty}"></li>
                          </ul>
                          <ul class="list-group list-group-horizontal">
                            <li class="list-group-item fw-bold py-1 ps-2" style="width: 130px; font-size: 90%; background:#E6E6E6; ">得意な技術</li>
                            <li class="list-group-item flex-fill py-1 ps-2" style="font-size:small" th:text="*{specialeTechnique}"></li>
                          </ul>
                          <ul class="list-group list-group-horizontal">
                            <li class="list-group-item fw-bold py-1 ps-2" style="width: 130px; font-size: 90%; background:#E6E6E6; ">趣味・マイブーム</li>
                            <li class="list-group-item flex-fill py-1 ps-2" style="font-size:small" th:text="*{recentInterested}"></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer border-0 bg-white">
              <form role="form" th:action="@{~/authed/toBookForm}" th:method="post">
                <input type="hidden" name="menuId" th:value="${menuId}">
                <input type="hidden" name="date" th:value="${date}">
                <input type="hidden" name="time" th:value="${time}">
                <input type="hidden" name="stylistId" th:value="*{stylistId}">
                <button
                  class="btn btn-outline-danger fw-bold text-white " 
                  type="submit" style="width: 110px; height: 35px;  font-size: 70%; background: linear-gradient(#FFCCCC, #FA5882);" ><span class="font-monospace ">指名して次へ</span>
                </button>
              </form>
            </div>
          </div>
        </li>
      </ul>
    </div>
    
    <!-- その他の日時で～以降は該当者がいれば表示 -->
    <hr th:if="${nonActiveStylistMap.size} != 0" class="border-secondary" size="4">
    
    <div th:if="${nonActiveStylistMap.size} != 0" class="d-flex p-2 border-start border-secondary border-5 fw-bold">その他の日時で指名可能なスタイリストの空き状況を見る</div>
    
    <!-- 5写真ごとのマップをループ処理 -->
    <div class="border-0" th:each="nasMap, statMap : ${nonActiveStylistMap}" >
      <hr th:if="${statMap.index} != 0">
      
      <ul class="list-group list-group-horizontal mt-4 ">
      　　<!-- 1写真ごとにループ処理 -->
        <li th:each="stylist, statStylist : ${nasMap.value}" th:object="${stylist}" class="list-group-item  border-top-0 border-bottom-0 border-start-0">
          <!-- モーダルへのリンクが複数箇所あるためモーダルのIDを変数化しておく -->
          <div class="card h-100 border-0 m-1 " style="width: 8rem;" th:with="modalId='MODAL_NONACTIVE'+${statStylist.count}">
            <a th:href="'#'+${modalId}" data-bs-toggle="modal" >
              <img th:src="@{__*{picture}__}" class="card-img-top " alt="...">
            </a>
            <!-- フレックスのmt-autoを使用するためカードボディをフレックス化（flex_column) -->
            <div class="card-body d-flex flex-column p-0">
              <p class="card-text p-0 m-0" style="font-size:small" th:text="*{name}"></p>
              <p class="card-text p-0 m-0"><span class="card-text text-danger p-0 m-0"  style="font-size:small" th:text="*{comment}"></span><span style="font-size: 60%" th:text="'(歴'+*{experiencedYears}+'年)'"></span></p>
              <p class="card-text p-0 m-0" style="font-size:small" ><span th:text="*{commentDetail}"></span>
                <span style="font-size:small">【</span><a th:href="'#'+${modalId}" data-bs-toggle="modal" style="text-decoration: none;">詳細</a><span>】</span>
              </p>
              <p class="card-text mt-auto text-end p-0 m-0 " style="font-size:small" ><span>指名料: </span><span class="text-danger" th:text="'\\'+*{reservationFee}"></span></p>
              
              <!-- モーダル -->
              <div class="modal fade" th:id="${modalId}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-body">
                      <!-- モーダルヘッダー部 -->
                      <div class="d-flex ">
                        <div class="w-100 ">
                          <p class="text-danger p-0 m-0 " style="font-size:small" th:text="*{comment}"></p>
                          <p class="p-0 m-0 "><span class="fw-bold fs-5 " th:text="*{name}"></span><span class="ms-2 " style="font-size:small" th:text="*{name}"></span></p>
                        </div>
                        <div class="flex-shrink-1">
                          <div class="d-grid d-md-flex justify-content-md-end ">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                        </div>
                      </div>
                      
                      <!-- モーダルヘッダーとボディの境界線 -->
                      <hr>
                      
                      <!-- モーダルボディ部 -->
                      <div class="d-flex ">
                        <div class="d-flex justify-content-end  pe-4" style="width: 240px;">
                          <img th:src="@{__*{picture}__}" style="width: 8rem; max-height: 160px" alt="...">
                        </div>
                        <div class="flex-grow-1  ">
                          <p class="text-danger fw-bold p-0 m-0" th:text="*{comment}" ></p>
                          <p class="p-0 my-3" th:text="*{commentDetail}" ></p>
                          <div class="row row-cols-1 row-cols-md-2 g-0">
                            <!-- 4写真を1写真ずづループ処理 -->
                            <div th:each="cutExample : *{cutExamples}" th:object="${cutExample}" class="col ">
                              <div class="card border-0 mb-4" style="max-width: 260px; ">
                                <div class="row g-0">
                                  <div class="col-md-4">
                                    <img th:src="@{__*{url}__}" width="80px" height="80px" alt="..." >
                                  </div>
                                  <div class="col-md-8 align-self-end  ">
                                    <div class="card-body  m-0 p-0">
                                      <p class="card-text " style="font-size:small" th:text="comment"></p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          
                          <ul class="list-group list-group-horizontal rounded-0 py-0 ">
                            <li class="list-group-item fw-bold py-1 ps-2" style="width: 130px; font-size: 90%; background:#E6E6E6; ">スタイリスト歴</li>
                            <!-- スタイリスト歴は20年を境界値に’以上’を付与 -->
                            <li th:if="*{experiencedYears} gt 20" class="list-group-item flex-fill py-1 ps-2" style="font-size:small" th:text="*{experiencedYears}+'年以上'"></li>
                            <li th:unless="*{experiencedYears} gt 20" class="list-group-item flex-fill py-1 ps-2" style="font-size:small" th:text="*{experiencedYears}+'年'"></li>
                          </ul>
                          <ul class="list-group list-group-horizontal">
                            <li class="list-group-item fw-bold py-1 ps-2" style="width: 130px; font-size: 90%; background:#E6E6E6; ">得意なイメージ</li>
                            <li class="list-group-item flex-fill py-1 ps-2" style="font-size:small" th:text="*{specialty}"></li>
                          </ul>
                          <ul class="list-group list-group-horizontal">
                            <li class="list-group-item fw-bold py-1 ps-2" style="width: 130px; font-size: 90%; background:#E6E6E6; ">得意な技術</li>
                            <li class="list-group-item flex-fill py-1 ps-2" style="font-size:small" th:text="*{specialeTechnique}"></li>
                          </ul>
                          <ul class="list-group list-group-horizontal">
                            <li class="list-group-item fw-bold py-1 ps-2" style="width: 130px; font-size: 90%; background:#E6E6E6; ">趣味・マイブーム</li>
                            <li class="list-group-item flex-fill py-1 ps-2" style="font-size:small" th:text="*{recentInterested}"></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer border-0 bg-white">
              <form role="form" th:action="@{~/public/toBooktableSelectedStylist}" method="post">
                <input type="hidden" name="menuId" th:value="${menuId}">
                <input type="hidden" name="stylistId" th:value="*{stylistId}">
                <button
                  class="btn btn-outline-danger fw-bold text-danger " 
                  type="submit" style="width: 110px; height: 35px;  font-size: 70%; background: linear-gradient(#FFFFF0, #FFCCCC);" ><span class="font-monospace">空き状況を見る</span>
                </button>
              </form>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <hr th:if="${nonActiveStylistMap.size} != 0" class="border-secondary" size="4">
  </div>
  
</body>
</html>