<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- ブートスラップの利用 -->
<link th:href="@{/webjars/bootstrap/5.0.0-beta1/css/bootstrap.min.css}" rel="stylesheet"></link>
<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.0.0-beta1/js/bootstrap.min.js}"></script>
<!-- ブートスラップ5のアイコン利用 -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>

<body>

  <div th:fragment="stylist-list-nav">
    <ul class="nav nav-tabs border-bottom border-secondary ">
      <li class="nav-item">
        <!-- フォーム。menuIdを引き渡す -->
        <form role="form" name="toSelectStylist" th:action="@{~/public/toBookTable}" method="get">
          <input type="hidden" name="menuId" th:object="${menuDetail}" th:value="*{id}">
          <a class="nav-link border-bottom-0 border-secondary" href="javascript:toSelectStylist.submit()" ><span class="fw-bold" style="font-size: 90%">サロンの空き状況</span></a>
        </form>
      </li>
      <li class="nav-item ">
        <a class="nav-link active border-bottom-0 border-secondary" aria-current="page" ><span class="fw-bold" style="font-size: 90%">スタイリスト別の空き状況</span></a>
      </li>
    </ul>
  </div>
  
  <div th:fragment="selected-stylist">
    <div class="card border-0 m-4" style="max-width: 500px; ">
      <div class="row g-0">
        <div class="col-md-2">
          <img th:src="@{__${stylist.picture}__}" width="80px" height="80px" alt="..." >
        </div>
        <div class="col-md-10 ">
          <div class="card-body  m-0 p-0">
            <p class="card-text text-secondary m-0 p-0" style="font-size:x-small;">選択中のスタイリスト</p> 
            <p class="card-text ">
              <span class="fw-bold" style="font-size: 90%" th:text="${stylist.name}"></span>
              <span class="ms-2" style="font-size: small" >の予約可能日程</span>
              <span class="ms-3　text-secondary" style="font-size: small" ><a href="#" style="text-decoration: none;"><span class="text-danger">▶</span>他のスタイリストの空き状況を見る</a></span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div th:fragment="stylist-list">
    <!-- 5写真ごとのマップをループ処理 -->
    <div class="border-0" th:each="sMap, statMap : ${stylistMap}" >
      <hr th:if="${statMap.index} != 0">
      
      <ul class="list-group list-group-horizontal mt-4 ">
      　　<!-- 1写真ごとにループ処理 -->
        <li th:each="stylist, statStylist : ${sMap.value}" th:object="${stylist}" class="list-group-item flex-fill border-top-0 border-bottom-0 border-start-0">
          <!-- モーダルへのリンクが複数箇所あるためモーダルのIDを変数化しておく -->
          <div class="card h-100 border-0 m-1 " style="width: 8rem;" th:with="modalId='MODAL'+${statStylist.count}">
            <a th:href="'#'+${modalId}" data-bs-toggle="modal" >
              <img th:src="@{__*{picture}__}" class="card-img-top " alt="...">
            </a>
            <!-- フレックスのmt-autoを使用するためカードボディをフレックス化（flex_column) -->
            <div class="card-body d-flex flex-column p-0">
              <p class="card-text p-0 m-0" style="font-size:small" th:text="*{name}"></p>
              <p class="card-text p-0 m-0"><span class="card-text text-danger p-0 m-0"  style="font-size:small" th:text="*{comment}"></span><span style="font-size: 60%" th:text="'(歴'+*{experiencedYears}+'年)'"></span></p>
              <p class="card-text p-0 m-0" style="font-size:small" ><span th:text="*{commentDetail}"></span>
                <span style="font-size:small">【</span><a th:href="'#'+${modalId}" data-bs-toggle="modal" style="text-decoration: none;">詳細</a><span>】</span>
              </p>
              <p class="card-text mt-auto text-end p-0 m-0 " style="font-size:small" ><span>指名料: </span><span class="text-danger" th:text="'\\'+*{reservationFee}"></span></p>
              
              <!-- モーダル -->
              <div class="modal fade" th:id="${modalId}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-body">
                      <!-- モーダルヘッダー部 -->
                      <div class="d-flex ">
                        <div class="w-100 ">
                          <p class="text-danger p-0 m-0 " style="font-size:small" th:text="*{comment}"></p>
                          <p class="p-0 m-0 "><span class="fw-bold fs-5 " th:text="*{name}"></span><span class="ms-2 " style="font-size:small" th:text="*{name}"></span></p>
                        </div>
                        <div class="flex-shrink-1">
                          <div class="d-grid d-md-flex justify-content-md-end ">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                        </div>
                      </div>
                      
                      <!-- モーダルヘッダーとボディの境界線 -->
                      <hr>
                      
                      <!-- モーダルボディ部 -->
                      <div class="d-flex ">
                        <div class="d-flex justify-content-end  pe-4" style="width: 240px;">
                          <img th:src="@{__*{picture}__}" style="width: 8rem; max-height: 160px" alt="...">
                        </div>
                        <div class="flex-grow-1  ">
                          <p class="text-danger fw-bold p-0 m-0" th:text="*{comment}" ></p>
                          <p class="p-0 my-3" th:text="*{commentDetail}" ></p>
                          <div class="row row-cols-1 row-cols-md-2 g-0">
                            <!-- 4写真を1写真ずづループ処理 -->
                            <div th:each="cutExample : *{cutExamples}" th:object="${cutExample}" class="col ">
                              <div class="card border-0 mb-4" style="max-width: 260px; ">
                                <div class="row g-0">
                                  <div class="col-md-4">
                                    <img th:src="@{__*{url}__}" width="80px" height="80px" alt="..." >
                                  </div>
                                  <div class="col-md-8 align-self-end  ">
                                    <div class="card-body  m-0 p-0">
                                      <p class="card-text " style="font-size:small" th:text="comment"></p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          
                          <ul class="list-group list-group-horizontal rounded-0 py-0 ">
                            <li class="list-group-item fw-bold py-1 ps-2" style="width: 130px; font-size: 90%; background:#E6E6E6; ">スタイリスト歴</li>
                            <!-- スタイリスト歴は20年を境界値に’以上’を付与 -->
                            <li th:if="*{experiencedYears} gt 20" class="list-group-item flex-fill py-1 ps-2" style="font-size:small" th:text="*{experiencedYears}+'年以上'"></li>
                            <li th:unless="*{experiencedYears} gt 20" class="list-group-item flex-fill py-1 ps-2" style="font-size:small" th:text="*{experiencedYears}+'年'"></li>
                          </ul>
                          <ul class="list-group list-group-horizontal">
                            <li class="list-group-item fw-bold py-1 ps-2" style="width: 130px; font-size: 90%; background:#E6E6E6; ">得意なイメージ</li>
                            <li class="list-group-item flex-fill py-1 ps-2" style="font-size:small" th:text="*{specialty}"></li>
                          </ul>
                          <ul class="list-group list-group-horizontal">
                            <li class="list-group-item fw-bold py-1 ps-2" style="width: 130px; font-size: 90%; background:#E6E6E6; ">得意な技術</li>
                            <li class="list-group-item flex-fill py-1 ps-2" style="font-size:small" th:text="*{specialeTechnique}"></li>
                          </ul>
                          <ul class="list-group list-group-horizontal">
                            <li class="list-group-item fw-bold py-1 ps-2" style="width: 130px; font-size: 90%; background:#E6E6E6; ">趣味・マイブーム</li>
                            <li class="list-group-item flex-fill py-1 ps-2" style="font-size:small" th:text="*{recentInterested}"></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer border-0 bg-white ">
              <form role="form" th:action="@{~/public/toBooktableSelectedStylist}" method="post">
                <input type="hidden" name="menuId" th:value="${menuDetail.id}">
                <input type="hidden" name="stylistId" th:value="*{stylistId}">
                <button
                  class="btn btn-outline-danger fw-bold text-danger " 
                  type="submit" style="width: 110px; height: 35px;  font-size: 70%; background: linear-gradient(#FFFFF0, #FFCCCC);" ><span class="font-monospace">空き状況を見る</span>
                </button>
              </form>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  
</body>
</html>