<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- ブートスラップの利用 -->
<link th:href="@{/webjars/bootstrap/5.0.0-beta1/css/bootstrap.min.css}" rel="stylesheet"></link>
<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.0.0-beta1/js/bootstrap.min.js}"></script>
<!-- ブートスラップ5のアイコン利用 -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>
<body>
<!-- ヘッダータブ＝ナビゲーションバー　共通-->
  <div th:fragment="common-header" th:remove="tag">
    <div class="container-fluid">
    <div class="row ">
      <div class="col-12">
        <nav class="navbar navbar-dark " style="background: linear-gradient(#FFD5EC, #FF99CC);">
          <div class="row">
            <div class="col-8">
            <a href="#" class="navbar-brand" style="text-decoration:none;">
              <img th:src="@{/pictures/top.jpg}" width="70" height="70" >
              <span style="font-size : xx-large">HOT PEPPER BEAUTYの模作</span>
            </a>
            </div>
            <!-- nav-tabで表現できない？↓ -->
            <div class="col-2 align-self-end">
              <a th:href="@{/html/dummy1.html}" class="navbar-brand" style="text-decoration:none;"> dummy1 </a>
            </div>
            <div class="col-2 align-self-end">
              <a th:href="@{/html/dummy2.html}" class="navbar-brand" style="text-decoration:none;"> dummy2 </a>
            </div>
          </div>
        </nav>
      </div>
    </div>
    </div>
  </div>

<!-- 店名　共通-->
  <div th:fragment="common-shop-name" th:remove="tag">
    <!-- 店名 -->
    <div class="bg-light bg-gradient ">
      <div class="d-flex gap-2 align-items-center">
        <div class="bg-danger text-white fw-bold">即時予約</div>
        <div class="fw-bold text-danger" style="font-size: 80%">※即時予約は、予約完了時点で予約が確定します。そのままご来店ください。</div>
      </div>
      <h4 class="fw-bold ms-3 mt-3 mb-1">Chou chou private hair salon【シュシュ プライベート ヘアサロン】</h4>
      <p class="ms-3 mt-0 mb-0">シュシュプライベートヘアサロン</p>
    </div>
  </div>

<!-- ログインブロック　共通-->
  <div th:fragment="common-login" th:remove="tag">  
     <div class="border border-info">
       <div class="d-flex flex-column">
         <div class="my-box flex-fill text-center">
           <span style="font-size:small">ようこそゲストさん</span></div>
         <div class="my-box flex-fill text-center">
           <button type="submit" class="btn btn-outline-danger text-danger fw-bold" style="background: linear-gradient(#FFFFFF, #FF00FF); ">ログインする</button></div>
         <div class="my-box flex-fill text-center"><a href="#">
           <span style="font-size:small;">会員登録する</span></a></div>
       </div>
       <div class="d-flex flex-column">
         <div class="border bg-secondary">
           <div class="my-box flex-fill text-white text-center"><span style="font-size:small">・ホットペッパービューティーならPontaポイントが</span>2%<span style="font-size:small">たまる！</span></div>
           <div class="my-box flex-fill text-white text-center"><span style="font-size:small">・ためたポイントをつかっておとくにサロンをネット予約！</span></div>
         </div>
       </div>
    </div>
  </div>
</body>
</html>