<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- ブートスラップの利用 -->
<link th:href="@{/webjars/bootstrap/5.0.0-beta1/css/bootstrap.min.css}" rel="stylesheet"></link>
<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.0.0-beta1/js/bootstrap.min.js}"></script>
<!-- ブートスラップ5のアイコン利用 -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>
<body>
  <!-- ヘッダータブ＝ナビゲーションバー 共通-->
  <div th:replace="public/fragments/common :: common-header" ></div>

  <div class="container-fluid ">
  <div class="row ">

    <div class="col-10 ">

      <!-- 店名 -->
　　　　　<div th:replace="public/fragments/common :: common-shop-name" ></div>
      
      <!-- メインコンテンツ開始 -->
      <div th:replace="/public/fragments/c-booktable :: progress-bar-book" ></div>
      <h6 class="">ご希望の来店日時を選択してください</h6>
      <div th:replace="/public/fragments/c-booktable :: selected-menu-coupon" ></div>
      <div th:replace="/public/fragments/c-selectStylist:: stylist-list-nav" ></div>
      <div th:replace="/public/fragments/c-selectStylist:: selected-stylist" ></div>
      <div th:replace="/public/fragments/c-booktable :: book-table" ></div>
      <!-- メインコンテンツ終了 -->
    </div>

<!-- ログインボタン＝ナビ nav .flex-column　共通-->
    <div class="col-2">
     　<div th:replace="/public/fragments/common :: common-login"></div>
  　　</div>
  </div>
  </div>

<!-- フッター pの列挙でいいんじゃない？ -->
</body>
</html>
