<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- ブートスラップの利用 -->
<link th:href="@{/webjars/bootstrap/5.0.0-beta1/css/bootstrap.min.css}" rel="stylesheet"></link>
<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.0.0-beta1/js/bootstrap.min.js}"></script>
<!-- ブートスラップ5のアイコン利用 -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>

<body>
  <div class="container-lg px-5">
    <div class="row g-0">
      <div class="d-flex m-0 p-0">
        <a href="#"><img th:src="@{~/pictures/catTopLeft.jpg}" alt="..." style="width: 9rem"></a>
        <img th:src="@{~/pictures/catTopRight.jpg}" class="ms-auto" alt="..." style="width: 9rem">
      </div>
    </div>
  </div>
  <hr>
  <div class="container-lg px-5">
    <div class="row g-0">
      <p class="text-secondary mt-2 mb-1" style="font-size: small; ">
        <a href="#" style="text-decoration: none;"><span>プライバシーポリシー改定</span><span><i class="bi bi-file-check"></i></span></a>
      </p>
      <p class="text-secondary my-1 ms-0" style="font-size: small">安全のためのセキュリティ対策は<span><a href="#" style="text-decoration: none;"><span>こちら</span><span><i class="bi bi-file-check"></i></span></a></span></p>
      <p class="border-bottom border-danger border-4 rounded-1 fs-4 fw-bold my-1">ログイン</p>
      <div class="d-flex justify-content-end" style="font-size: small"><a href="#" style="text-decoration: none;"><span>リクルートIDとは</span><span><i class="bi bi-file-check"></i></span></a></div>
      <div class="col-6  my-5">
        <div class="d-flex flex-column border">
          <div class=" fw-bold text-center border-top border-danger border-4 rounded-1 py-2">リクルートIDをお持ちの方</div>
          <div class="d-flex flex-column bg-light">
            <div class="text-center " style="font-size: small" >下記サイトなどで会員登録されている方は、同じIDでログインできます。</div>
            <form role="form" th:method="post">
              <div class="row align-items-center" >
                <label for="userIdForm" class="col-sm-3 col-form-label fw-bold text-center " style="font-size: 85%; ">リクルートID<br>(メールアドレス)</label>
                <div class="col-sm-8">
                  <input type="email" class="form-control " id="userIdForm" th:name="userId" placeholder="sample@example.com">
                </div>
              </div>
              <div class="row align-items-center my-2" >
                <label for="passwordForm" class="col-sm-3 col-form-label fw-bold text-center " style="font-size: 85%; ">パスワード</label>
                <div class="col-sm-8 ">
                  <input type="password" class="form-control  " id="passwordForm" th:name="pswd">
                </div>
              </div>
              <div class="form-check d-flex justify-content-center mt-4 mb-0 ">
                <input class="form-check-input " type="checkbox" value="" id="autoLogin" checked style="font-size:small;">
                <label class="form-check-label " for="autoLogin" style="font-size:small;">次回から自動ログインする</label>
              </div>
              <div class="d-flex justify-content-center my-0 ">
                <span class="px-4 text-wrap text-center" style="font-size: small; width: 32rem;">※第三者と共有で使用するパソコンをご利用の場合は、「次回から自動ログインする」のチェックをはずしてご利用ください。</span>
              </div>
              <div class="d-flex justify-content-center mt-4 mb-1">
                <span class="px-4 text-wrap text-center" style="font-size: small; width: 32rem;">下記に記載のプライバシーポリシー・規約に同意のうえ以下の「ログイン」を押してください。</span>
              </div>
              <div class="d-grid col-5 mx-auto mt-4">
                <button type="submit" class="btn-lg btn-outline-danger text-danger fw-bold bg-white rounded-0 " >ログイン</button>
              </div>
              <div class="d-flex justify-content-end mt-1 mb-1">
                <a href="#" style="text-decoration: none;"><span><i class="bi bi-caret-right-fill"></i></span><span class="pe-3 " style="font-size: small; ">ログインできない</span></a>
              </div>
              <div class="d-flex mt-2 mb-1">
                <span class="px-3 fw-bold " style="font-size: 90%; ">プライバシーポリシー・規約一覧</span>
              </div>
              <div class="list-group px-3 pb-4" style="font-size: small; ">
                <a href="#" style="text-decoration: none; "><span>・プライバシーポリシー</span><span><i class="bi bi-file-check"></i></span></a>
                <a href="#" style="text-decoration: none; "><span>・リクルートID規約</span><span><i class="bi bi-file-check"></i></span></a>
                <a href="#" style="text-decoration: none; "><span>・PontaWeb会員規約</span><span><i class="bi bi-file-check"></i></span></a>
                <a href="#" style="text-decoration: none; "><span>・Hot Pepper Beauty ヘア/ Hot Pepper Beauty キレイ利用規約</span><span><i class="bi bi-file-check"></i></span></a>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-6  my-5">
        <div class="d-flex flex-column ms-2 border">
          <div class="flex-fill fw-bold text-center border-top border-danger border-4 rounded-1 py-2">まだリクルートIDをお持ちでない方</div>
          <div class="d-flex flex-column bg-light">
            <div class="text-center mt-3"><img th:src="@{~/pictures/banner_registration_recruit_id.png}" alt="..."></div>
            <form role="form" th:action="@{~/public/toMakeAccount}" method="get">
              <div class="d-grid col-5 mx-auto mt-2 ">
                <button type="button" class="btn-lg btn-outline-danger text-danger fw-bold bg-white rounded-0 " >新規会員登録へ</button>
              </div>
            </form>
            <p class="my-5 py-5"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
<!-- フッター pの列挙でいいんじゃない？ -->
</body>
</html>